@font-face {
    font-family: Supply-Regular;
    src: url(PPSupplySans-Regular.otf);
}

@font-face {
    font-family: Supply-Light;
    src: url(PPSupplySans-Ultralight.otf);
}

:root {
    --width: calc()
}

html {
    font-size: 26pt;
}

body {
    background-color: black;
    width: 100vw;
    overflow-x: hidden;
}

.outer-container {
    margin: 2vw;
}

.outer-container, #intro {
    width: 96vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

}

#intro {
    gap: 2vw 0;
}

/* #e-container .e-fill {
    background-color: black;
} */

.fill, 
.a-fill, .b-fill, .c-fill, 
.d-fill, .e-fill, .f-fill,
.g-fill, .h-fill, .i-fill,
.j-fill, .k-fill, .l-fill,
.m-fill, .n-fill, .o-fill,
.p-fill, .q-fill, .r-fill,
.s-fill, .t-fill, .u-fill,
.w-fill, .x-fill, .y-fill, .z-fill {
    display: flex;
    /* margin-right: 2vw; */
    color: #FFC300;
    background-color: black;
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    opacity: 1;
    font-family: "Supply-Light";
    font-size: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: black solid 0.01rem;
}

.heading-one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.heading-one .l-fill, .heading-one .e-fill,
.heading-one .t-fill, .heading-one .s-fill,
.heading-one .p-fill, .heading-one .a-fill,
.heading-one .k-fill{
    width: 5.4rem;
    height: 5.4rem;
    font-size: 3rem;
    margin-bottom: 1vw;
}

.br {
    width: calc(96vw - (5.4rem * 4));
}

.heading-one .line-break {
    margin-bottom: 1vw;
    /* background-color: aqua; */
}

.line-break {
    height: 1rem;
    width: 96vw;
}

input[type=button] {
    color: #FFC300;
    background-color: black;
    width: 1.8rem;
    height: 1.8rem;
    opacity: 1;
    font-family: "Supply-Light";
    font-size: 1rem;
    text-align: center; /* Center the text */
    border: black solid 0.01rem;
    transition: 2s;
    line-height: 1.8rem; /* Match the line-height with the height for vertical centering */
    padding: 0; /* Remove default padding if any */
}

input[type=button]:hover {
    background-color: #FFC300;
    color: black;
    transition: 2s;
    position: relative;
    top: -12px;
    left: -12px;
    box-shadow: 0.2rem 0.2rem darkorange;
    cursor: pointer;
    font-family: "Supply-Regular";
}


#a-container:hover,
#b-container:hover {
    /* background-color: black;
    transition: 0.5s;
    padding: 1vw; */
}

.a-fill:hover, .b-fill:hover, .c-fill:hover,
.d-fill:hover, .e-fill:hover, .f-fill:hover {
    /* border: black dotted 0.2px; */ 
    /* transition: 0.1s; 
    color: #FFC300; 
    bottom: 5px; 
    right: 5px;
    position: relative;
    box-shadow: 5px 5px darorange; */
}



/* @media only screen and (max-width: 700px) {
    #container {
        width: 500px;
    }

    .cell {
        width: calc(500px/39);
        height: calc(500px/39);
    }
}

@media only screen and (max-width: 500px) {
    #container {
        width: 300px;
    }

    .cell {
        width: calc(300px/39);
        height: calc(300px/39);
    }
} */
