@font-face {
    font-family: Supply-Regular;
    src: url(PPSupplySans-Regular.otf);
}

@font-face {
    font-family: Supply-Light;
    src: url(PPSupplySans-Ultralight.otf);
}

body {
    background-color: #FFC300;
}

#container {
  display: flex;
  position: absolute;
  color: aquamarine;
/* These three properties below center the container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 45vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

/* Parent container for both letters H and I */
.letter {
/* Set to flex with wrapping so the cell pieces sit side by side and wrap */
  display: flex;
  flex-wrap: wrap;
/* The below margin controls spacing between each letter */
  margin-right: 30px;
}

/* Each "pixel" */
.cell {
    width: calc(35vw/7);
    height: calc(45vw/9);
    background-color: white;
    opacity: 0;


}

.fill {
    background-color: #FFC300;
    /* background-color: black; */
    opacity: 1;

    /* box-shadow: 1vw 1vw white; */
    /* display: flex;
    align-items: center; */
}

.fill{
    font-family: "Supply-Light";
    font-size: 18pt;
    color: black;
    display: flex;
    height: calc(45vw/9);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.1s
}

#container .fill:hover {
    /* border: #FFC300 dotted 3px; */
    /* border-radius: 20px;
    background-color: black;
    color: #FFC300;
    bottom: 5px;
    right: 5px;
    position: relative; */
    /* box-shadow: 5px 5px darorange; */
}

/* @media only screen and (max-width: 700px) {
    #container {
        width: 500px;
    }

    .cell {
        width: calc(500px/39);
        height: calc(500px/39);
    }
}

@media only screen and (max-width: 500px) {
    #container {
        width: 300px;
    }

    .cell {
        width: calc(300px/39);
        height: calc(300px/39);
    }
} */
